@model List<DAL.Models.TodoTask>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>TaskContent</th>
            <th>TaskDateTime</th>
            <th>Done</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TaskContent</td>
                <td>@item.TaskDateTime</td>
                <td>
                    @if (item.Done == true)
                    {
                        <div class="text-success">انجزت المهمة</div>



                        <form asp-action="UnDoneTask" asp-controller="ToDoTask" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="btn btn-secondary">UnDone</button>
                        </form>
                    }
                    else if (item.Done == false)
                    {
                        <div class="text-danger">لم تنجز المهمة</div>



                        <form asp-action="DoneTask" asp-controller="ToDoTask" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />

                            <button type="submit" class="btn btn-primary">Done</button>
                        </form>
                    }


                </td>

                <td>
                    <a class="btn btn-danger" asp-action="DeleteToDoTask" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>